.grid-square-wrapper {
  &:active {
    .grid-square {
      transform: scale(0.9);
    }
  }
  &:hover {
    .grid-square {
      &.select-start {
        background-color: #b3ffb3;
      }
      &.val-start {
        background-color: #00f000;
      }
      &.select-end {
        background-color: #ffc2c2;
      }
      &.val-end {
        background-color: #ff4d4d;
      }
      &.select-wall:not(.val-wall) {
        opacity: 0.6;
      }
    }
  }
}

.grid-square {
  @apply border-slate-400;
  border-width: 0 0 1px 1px;
  background-color: white;
}
.on-path {
  background-color: yellow;
}
.val-start {
  background-color: #05ff05;
}
.val-end {
  background-color: #ff6b6b;
}

.val-wall {
  opacity: 0;
  border: 0px;
}
